/* Global Styles */
:root {
  --primary-color: #1E44B5;
  --dark-color: #343a40;
  --light-color: #F1EFEC;
  --danger-color: #dc3545;
  --success-color: #28a745;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  /* font-size: 1rem; */
  /* line-height: 1.6; */
  background-color: #fff;
  color: #333;
  /* background-color: black; */
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 100vw;
  height: auto;
  margin: auto;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  margin-top: 2em;
}

.lead {
  color: #00022E !important;
  font-weight: 1000;
  margin-top: 6rem;
  font-size: 52px !important;
  
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: #00022e;
  color: #fff;
  border-radius: 30px;
  padding: 12px 40px;
  width: 80% !important;
  box-shadow: 0 4px 8px 0 rgba(0, 2, 46, 0.4);
}

 .question{
   width: 80%;
   overflow: hidden;
  margin-left: 5% !important; 
  font-size: 1.3em;
}

.answer{
  margin-left: 5% !important;
  outline: none;
  background: inherit;
  box-shadow: 0 4px 8px 0 rgba(0, 121, 145, 0.4);
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  width: 60%;
}

.answer:hover{
  box-shadow: 0 8px 16px 0 rgba(0, 121, 145, 0.4);
}



.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Forms */
.form{
  width: 100vw;
  margin: 2% 30% !important;
  margin: auto;
  align-items: center;
  width: 60vw;
}
.form .form-group {
  overflow: hidden;
  margin:  0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

h3{
  color: #FF073A !important;
}
.form input[type='email']:focus,
.form input[type='password']:focus,
.form input[type='text']:focus{
  outline: none;
}



.submit{
  text-align: center;
}

.form .social-input {
  display: flex;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: var(--light-color);
}

/* Navbar */
.navbar {
  color: var(--dark-color) !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 100;
  width: 100vw;
  top: 0;
  background-image: linear-gradient(to right,  rgba(0, 121, 145, 0.26), rgba(120, 255, 214, 0.36));
}

.navbar ul {
  display: flex;
}



.navbar a {
  color: #00022E ;
  padding: 0.45rem;
  margin: 0 0.25rem;
  font-weight: 1000;
}

.navbar a:hover {
  color: var(--primary-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* Landing Page */
.landing {
  background-image: linear-gradient(to top,  rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.4)),  url('https://images.unsplash.com/photo-1530049478161-0780526964f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1080&q=60');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}
.landing-main .login-form-group{
  width: 80%;
  padding: 80px 100px ;
  align-items: center;
  align-content: center;
}
.landing-main .loginForm{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Profiles Page */
.profile {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

/* Profile Page */
.profile-grid {
  display: grid;
  grid-template-areas:
    'top top'
    'about about'
    'exp edu'
    'github github';
  grid-gap: 1rem;
}

.profile-top {
  grid-area: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-top img {
  width: 250px;
}

.profile-top .icons a {
  color: #fff;
  margin: 0 0.3rem;
}

.profile-top .icons a:hover {
  color: var(--dark-color);
}

.profile-about {
  grid-area: about;
  text-align: center;
}

.profile-about .skills {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-exp {
  grid-area: exp;
}

.profile-edu {
  grid-area: edu;
}

.profile-exp h2,
.profile-edu h2 {
  margin-bottom: 1rem;
}

.profile-exp > div,
.profile-edu > div {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: #ccc 1px dotted;
}

.profile-exp > div:last-child,
.profile-edu > div:last-child {
  border: 0;
}

.profile-exp p,
.profile-edu p {
  margin: 0.5rem 0;
}

.profile-github {
  grid-area: github;
}

.profile-github .repo {
  display: flex;
}

.profile-github .repo > div:first-child {
  flex: 7;
  flex-basis: 70%;
}

.profile-github > div:last-child {
  flex: 3;
  flex-basis: 20%;
}

/* Posts Page */
.post-form .post-form-header {
  background: var(--primary-color);
  padding: 0.5rem;
}

.post-form{
  overflow: hidden;
}

.quiz-head{
  margin-left: 10%;
}

.post {
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  width: 100%;
  display: flex;
  
}


.post > div:first-child {
  text-align: center;
}

.post img {
  width: 100px;
}

.post .comment-count {
  background: var(--light-color);
  color: var(--primary-color);
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.post .post-date {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }

  .transparent{
    display: none;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .navbar h1 {
    margin-bottom: 1rem;
  }

  .navbar .welcome {
    display: none;
  }

  /* Profiles Page */
  .profile {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .profile ul {
    display: none;
  }

  /* Profile Page */

  .profile-top img,
  .profile img {
    width: 200px;
    margin: auto;
  }

  .profile-grid {
    grid-template-areas:
      'top'
      'about'
      'exp'
      'edu'
      'github';
  }

  .profile-about .skills {
    flex-direction: column;
  }

  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }

  .post {
    grid-template-columns: 1fr;
    width: 100%;
    display: flex;
    padding-left: 0px;
    margin-left: 0px;
    padding-top: 100px;
    margin-right: 5%;
  }
  .post a,
  .post button {
    padding: 0.3rem 0.4rem;
  }
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.form{
  width: 100%;
  margin-left: 10% !important;
  margin-right: 10% !important;
}
.logo{
  display: block;
  color: #00022E;
  font-size: 30px;
  font-weight: 1000;
  text-align: center;
  padding: 80px;
}

.lead{

  display: block;
  color: #8BA5A5;
  font-size: 2em;  
  padding: 0 0px 80px 0px;
}

.leadp{
  text-align: center;
}

.form-container{
  text-align: center;
}
.form-container textarea{
  font-family: 'Josefin Sans', sans-serif;
  border-style: none;
  outline: none;
  background-color: inherit;
  border-bottom: 2px solid #E9C363;
  width: 40%;
}

.form-container input[type='submit'],
button{
  font-family: 'Josefin Sans', sans-serif;
  background-color: #9ECAF4;
  color: #F1EFEC;
  border: none;
  padding: 10px 20px;
  margin: 16px;
  border-radius: 20px;
}

.form-container input[type='submit']:hover,
button:hover{
  background-color: inherit;
  color: #9ECAF4;
  border:2px solid #F1EFEC;   
}

.footer {
  display: block;
  padding: 10px;
  bottom: 0px;
  width: 100vw;
  position: fixed;
  font-size: 10px !important;
  height: auto;
  color: aliceblue;
  text-align: center;
  z-index: 1000;
}

.footer a{
  text-decoration: none;
  color: inherit;
}

.transparent{
  margin-top: 10%;
  width: 50%;
}

.transparent img{
  width: 800px;
}

.landing-main{
  width: 50%;
  height: 100vh;
  z-index: 1;
  padding: 10% 0 0 0;
  align-self: center;
  
}

.tribal{
  margin: 0;
  height: 100vh;
  width: 100vw;
  margin: auto;
  padding: 0 !important;
  top: 0;
}

.dashboard {
  height: 100%;
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-text{
  color: var(--dark-color);
  font-size: 1.5em;
  text-align: left; ;
}
.dash-text-1{
  color: var(--dark-color);
  font-size: 1.5em;
  text-align: right; 
  padding-bottom: 20px;
}
.dash-text-div{
  text-align: center;
  width: 100%;
}

.dash-quiz{
  width: 15%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: linear-gradient(to top, #abbaab, #ffffff);
  transition: 0.4s;
  /* margin: 0 10px 0 10px; */
  margin: 10px 0 10px 0;
}
.dash-quiz:hover{
  background: #E9C363;
  cursor: pointer;
}
.signup{
  font-family: 'Josefin Sans', sans-serif !important;
  background-color: #E9C363;
  border: none;
  padding: 10px 20px;
  margin: 16px;
  border-radius: 20px;
}

.login{
  font-family: 'Poppins', sans-serif !important;
  background-color: inherit;
  border-color: #FF073A;
  border: 2px solid;
  color: black;
  
  padding: 15px 30px;
  margin: 16px;
  border-radius: 15px;
}

.login:hover{
  background: linear-gradient(to right, #2bc0e4, #eaecc6);
  border: none;
  color: inherit;
}
.signup:hover{
  background-color: inherit;
  border-color: #E9C363;
  border: 2px solid;
  color: #E9C363;
}

button{
  font-family: 'Josefin Sans', sans-serif !important; 
  color: inherit;
}

 .buttons{
  font-size: 18px;
  position: relative;
  /* width: 60%;
  /* height: 30%;
  align-self: center;
  margin-left: inherit; */
  /* margin-left: 40%;
  margin-right: 20%; */
  text-align: center;
}

.hide{
  display: none !important;
  background-color: #FFF !important;
}

@media (max-width: 900px){
  .landing{
    display: grid;
    grid-template: 1fr / 1fr;
  }
  .landing .transparent{
    width: 100%;  
    background: inherit;
    z-index: 2;
  }
  .landing .landing-main{
    
    width: 100%;
    z-index: 1;
    padding-top: 130px;
    
    
  }
  .large{
    margin: 10%;
    margin-top: 4em;
  }
  
  .dash-text-div{
    width: 100%;
  }
  .dash-quiz{
    width: 50%;
  }
  *{
    font-size: 1em ;
  }
}

.tribal{
  width: 100%;
  height: 100%;
 display: flex;
 flex-direction: column ;
 flex-wrap: nowrap;
 padding-top: 50px;
}

.quiz{
  margin: 80px;
}

.comp{
  margin-top: 4em;
}

.img-align{
  text-align: center;
}
.img-logo{
  width: 16em;
  height: auto;
}




/* LOGIN FORM STYLES */
/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */

.loginSection{
  background-image: linear-gradient(to right,  rgba(0, 121, 145, 0.52), rgba(120, 255, 214, 0.72)),  url('https://images.unsplash.com/photo-1530049478161-0780526964f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1080&q=60');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93.7vh;
  font-family: 'Poppins', sans-serif;
}
.loginForm{
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginForm input, button{
  width: 45%;
  padding: 12px;
  font-family: 'Poppins', sans-serif !important;
  margin: 8px;
  background:rgba(0, 121, 145, 0.8) !important;
  border: none !important;
  color: var(--light-color) !important;
}

input:focus, button:focus{
  outline: none;
}

.loginForm input[type='submit'],
button{
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 121, 145, 0.4);
  transition: 0.3s;
}

.loginForm input[type='submit']:hover,
button:hover{
  background: rgba(0,121,145,1);
  box-shadow: 0 8px 16px 0 rgba(0, 121, 145, 0.4)
}
.loginText{
  font-size: 48px;
  margin: 15px;
  color: var(--primary-color);
}
.login-form-group{
  padding: 50px 0px;
  width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 60vh; */
  background: #ffffff;
  border-radius: 15px;
  color: var(--dark-color);
}

.login-form-group input[type='email'],
.login-form-group input[type='text'],
.login-form-group input[type='password']
{
  width: 90%;
  margin: 20px;
  border-radius: 20px;
  background-color: white !important;
  color: black !important;
  padding: 20px 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s; 
}
.login-form-group input[type='email']:hover,
.login-form-group input[type='text']:hover,
.login-form-group input[type='password']:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.login-form-group input[type='email']:focus,
.login-form-group input[type='password']:focus
{
  outline: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.login-form-group a{
  color: var(--primary-color);
}

.loginSubmit{
  width: 100%;
  padding: 16px 32px;
}
.loginSubmit:hover{
  cursor: pointer;
  background: rgba(0,0,0,0.35);
  transition: 0.2s;
}

@media (max-width: 728px){
  
  .login-form-group{
    padding-top: 2%;
    width: 90%;
    margin-top: 100px;
  }
}


header {
	display: flex;
	width: 90%;
	height: 10vh;
	margin: auto;
	align-items: center;
}

.logo-container,
.nav-links,
.cart {
	display: flex;
}

.logo-container {
	flex: 1;
}
.logo-dash {
	font-weight: 400;
	margin: 5px;
}
nav {
	flex: 2;
}
.nav-links {
	justify-content: space-around;
	list-style: none;
}
.nav-link {
	color: #5f5f79;
	font-size: 18px;
	text-decoration: none;
}
.cart {
	flex: 1;
	justify-content: flex-end;
}

#root{
  padding-top: 60px;
  height: 100%;
  overflow: hidden !important;
  background-image: linear-gradient(to right,  rgba(0, 121, 145, 0.52), rgba(120, 255, 214, 0.72));
}
.presentation{
  padding: 0;
  margin: 0;
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 93.7vh;
    align-items: center;
    overflow-y: hidden !important;
}

.introduction{
    flex: 1;
    width: 50%;
}
.intro-text h1{
    font-size: 40px;
    font-weight: 500px;
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro p{
    margin-top: 5px;
    font-size: 22px;
    color: #585772;
}

.cta{
    padding: 50px 0px 0px 0px;
}

.cta-select{
    border: 2px solid #c36cbb;
    background: transparent;
    color: #585772;
    width: 150px;
    height:50px;
    cursor: pointer;
    font-size: 16px;

}

.cta-add{
    background: #c36cbb;
    width: 150px;
    height:50px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    color: white;
    margin: 30px 0px 0px 30px;
}

.cover img{
    flex: 2;
    padding: 0;
    height: 600px !important;
    width: auto;
    filter:drop-shadow(0px 3px 5px #E79B00);
    animation: drop 1.5s ease;
}

.big-circle{
    position: absolute;
    top: 0px;
    right: -20%;
    z-index: -1;
    opacity: 0.8;
    height: 80%;
}
.medium-circle{
    position: absolute;
    top: 30%;
    right: 10%;
    z-index: -1;
    height: 60%;
    opacity: 0.6;
}
.small-circle{
    position: absolute;
    bottom: 0%;
    left: 40%;
    z-index: -1;
    height: 60%;
    opacity: 0.3;
}

.laptop-select{
    width : 15%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 10%;
}

@media(max-width: 700px){

  .landing-main{
    margin-top: -10% !important;
  }
  .login-form-group{
    display: flex;
    flex-direction: column !important;
  }
  .cover img {
    width: 400px;
    height: auto !important;
  }
  .lead{
    font-size: 1.8em !important;
  }
  .big-circle{
    position: absolute;
    top: 0px;
    right: 0%;
    z-index: -1;
    opacity: 0.8;
    height: 80%;
}
.medium-circle{
    position: absolute;
    top: 30%;
    right: 30%;
    z-index: -1;
    height: 60%;
    opacity: 0.6;
}
.small-circle{
    position: absolute;
    bottom: 0%;
    left: 20%;
    z-index: -1;
    height: 60%;
    opacity: 0.3;
}

.navbar{
  background-image: linear-gradient(to right,  rgba(0, 121, 145, 0.26), rgba(120, 255, 214, 0.36));
}

.transparent img{
  display: none;
}

.dash-text-div{
  margin-left: 10% !important;
}

}

@media(max-width: 1000px){
  .dash-text-div{
    margin-left: 20%;
  }
.landing-main{
  margin-top: 20%;
}
.transparent img{
  width: 600px;
}
}

@keyframes drop{
    0%{
        opacity: 0;
        transform: translateY(-80px);
    }

    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-width: 1024px){
    .presentation{
        flex-direction: column;
    }
    .introduction{
        margin-top: 14vh;
        text-align: center;
    }
    .intro-text h1{
        font-size: 30px;

    }
    .intro-text p{
        font-size: 18px;
    }
    .cta{
        padding: 10px 0px 0px 0px;
    }
    .laptop-select{
        bottom: 5%;
        right: 50%;
        widows: 50%;
        transform: translate(50%,5%);
    }
    .cover img{
        height : 10%;
    }

}

.whiteText{
  color: var(--light-color) !important;
}